<a href="https://colab.research.google.com/github/KurtGabrielAnduque/CPE032/blob/main/Hands_on_Act_1_2_Big_Data_ANDUQUE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Technological Institute of the Philippines | Quezon City - Computer Engineering
--- | ---
Course Code: | CPE 032
Code Title: | Big Data Engineering
1st Semester | AY 2025-2026
<hr> | <hr>
<u>**ACTIVITY NO. 2**</u> | <u>**Hands-on-Act-1.2-Big Data**</u>
**Name** | Anduque, Kurt Gabriel A.
**Section** | CPE31S4
**Date Performed**: | August 16, 2025
**Date Submitted**: | August 20, 2025
**Instructor**: | Engr. Matira, Neal Barton James

<hr>

#Procedure

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("AdvancedDFOps").getOrCreate()

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Upload the online_retail_ii.csv from Kaggle into your Google Drive.

Mount Google Drive in Colab and read the CSV:

In [3]:
retail_df = spark.read.csv("/content/drive/MyDrive/CPE032/online_retail_II.csv", header=True, inferSchema=True)
retail_df.printSchema()

root
 |-- Invoice: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- Price: double (nullable = true)
 |-- Customer ID: double (nullable = true)
 |-- Country: string (nullable = true)

1. Merge data from two years of sales into a single DataFrame.
2. First, split the dataset by year:
3. Perform a full outer join on the "Customer ID" column:

In [4]:
from pyspark.sql.functions import year, col

df_2009 = retail_df.filter(year(col("InvoiceDate")) == 2009)
df_2010 = retail_df.filter(year(col("InvoiceDate")) == 2010)

# Full outer join on Customer ID

joined_df = df_2009.join(df_2010, on=["Customer ID"], how="full_outer")
# Keep only one "Customer ID"

In [5]:
df_2009.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
only showing top 5 rows

In [6]:
df_2010.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
| 493410|  TEST001|This is a test pr...|       5|2010-01-04 09:24:00|  4.5|    12346.0|United Kingdom|
|C493411|    21539|RETRO SPOTS BUTTE...|      -1|2010-01-04 09:43:00| 4.25|    14590.0|United Kingdom|
| 493412|  TEST001|This is a test pr...|       5|2010-01-04 09:53:00|  4.5|    12346.0|United Kingdom|
| 493413|    21724|PANDA AND BUNNIES...|       1|2010-01-04 09:54:00| 0.85|       NULL|United Kingdom|
| 493413|    84578|ELEPHANT TOY WITH...|       1|2010-01-04 09:54:00| 3.75|       NULL|United Kingdom|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
only showing top 5 rows

In [7]:
joined_df.show(5)

+-----------+-------+---------+--------------------+--------+-------------------+-----+--------------+-------+---------+-----------+--------+-----------+-----+-------+
|Customer ID|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|       Country|Invoice|StockCode|Description|Quantity|InvoiceDate|Price|Country|
+-----------+-------+---------+--------------------+--------+-------------------+-----+--------------+-------+---------+-----------+--------+-----------+-----+-------+
|       NULL| 489464|    21733|        85123a mixed|     -96|2009-12-01 10:52:00|  0.0|United Kingdom|   NULL|     NULL|       NULL|    NULL|       NULL| NULL|   NULL|
|       NULL| 489463|    71477|               short|    -240|2009-12-01 10:52:00|  0.0|United Kingdom|   NULL|     NULL|       NULL|    NULL|       NULL| NULL|   NULL|
|       NULL| 489467|   85123A|         21733 mixed|    -192|2009-12-01 10:53:00|  0.0|United Kingdom|   NULL|     NULL|       NULL|    NULL|       NULL| NULL|   NULL|
|       NULL| 489521|    21646|                NULL|     -50|2009-12-01 11:44:00|  0.0|United Kingdom|   NULL|     NULL|       NULL|    NULL|       NULL| NULL|   NULL|
|       NULL| 489525|   85226C|BLUE PULL BACK RA...|       1|2009-12-01 11:49:00| 0.55|United Kingdom|   NULL|     NULL|       NULL|    NULL|       NULL| NULL|   NULL|
+-----------+-------+---------+--------------------+--------+-------------------+-----+--------------+-------+---------+-----------+--------+-----------+-----+-------+
only showing top 5 rows

Union Operations: A union stacks DataFrames vertically but only works if their schemas match exactly in column names, order, and data types.

In [8]:
union_df = df_2009.union(df_2010)

In [9]:
union_df.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
only showing top 5 rows

Advanced Column Operations: Functions like withColumn, year, and struct allow creation of new calculated fields and nested structures without altering the original data.

In [10]:
from pyspark.sql.functions import month, struct

retail_df = retail_df.withColumn("TotalPrice", col("Quantity") * col("Price")) \
                     .withColumn("Year", year(col("InvoiceDate"))) \
                     .withColumn("Month", month(col("InvoiceDate"))) \
                     .withColumn("ProductInfo", struct(col("StockCode"), col("Description")))

In [11]:
retail_df.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+--------------------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|        TotalPrice|Year|Month|         ProductInfo|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+--------------------+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|              83.4|2009|   12|{85048, 15CM CHRI...|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|              81.0|2009|   12|{79323P, PINK CHE...|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|              81.0|2009|   12|{79323W,  WHITE C...|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|100.80000000000001|2009|   12|{22041, "RECORD F...|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|              30.0|2009|   12|{21232, STRAWBERR...|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+--------------------+
only showing top 5 rows

Working with Arrays & Maps: Aggregating values into arrays or maps enables storing complex, multi-value attributes inside a single DataFrame column.

In [12]:
from pyspark.sql.functions import collect_list, create_map

products_per_customer = retail_df.groupBy("Customer ID") \
    .agg(collect_list("Description").alias("ProductsBought"))

maps_per_customer = retail_df.groupBy("Customer ID") \
    .agg(collect_list("StockCode").alias("Codes"),
         collect_list("Quantity").alias("Quantities"))

In [13]:
products_per_customer.show(5)

+-----------+--------------------+
|Customer ID|      ProductsBought|
+-----------+--------------------+
|       NULL|[invcd as 84879?,...|
|    12351.0|[WRAP MONSTER FUN...|
|    12354.0|[JUMBO BAG ALPHAB...|
|    12356.0|[SET OF 36 DOILIE...|
|    12358.0|[MUSHROOM BLUE HO...|
+-----------+--------------------+
only showing top 5 rows

In [14]:
maps_per_customer.show(5)

+-----------+--------------------+--------------------+
|Customer ID|               Codes|          Quantities|
+-----------+--------------------+--------------------+
|       NULL|[84292, 18010, 21...|[17, -770, -720, ...|
|    12351.0|[22707, 22706, 22...|[25, 25, 25, 25, ...|
|    12354.0|[23201, 23204, 23...|[10, 10, 10, 4, 4...|
|    12356.0|[22416, 22938, 22...|[12, 12, 12, 8, 9...|
|    12358.0|[21482, 21481, 85...|[6, 6, 12, 12, 60...|
+-----------+--------------------+--------------------+
only showing top 5 rows

In [15]:
#implementing create_map my code
# group customer ID find the stock code of product and quantity they purchased
df_map = retail_df.groupBy("Customer ID").agg(collect_list(create_map(col("StockCode"), col("Quantity"))).alias("mapping Quantity"))

In [16]:
df_map.show(5)

+-----------+--------------------+
|Customer ID|    mapping Quantity|
+-----------+--------------------+
|       NULL|[{84292 -> 17}, {...|
|    12351.0|[{22707 -> 25}, {...|
|    12354.0|[{23201 -> 10}, {...|
|    12356.0|[{22416 -> 12}, {...|
|    12358.0|[{21482 -> 6}, {2...|
+-----------+--------------------+
only showing top 5 rows

Aggregations and Analytics: Grouping and using aggregate functions such as sum or window functions enables advanced insights like top customers and time-based trends.

In [17]:
from pyspark.sql.functions import sum as _sum

top_customers = retail_df.groupBy("Customer ID") \
    .agg(_sum("TotalPrice").alias("TotalSpent")) \
    .orderBy(col("TotalSpent").desc()) \
    .limit(5)

In [18]:
retail_df.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+--------------------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|        TotalPrice|Year|Month|         ProductInfo|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+--------------------+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|              83.4|2009|   12|{85048, 15CM CHRI...|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|              81.0|2009|   12|{79323P, PINK CHE...|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|              81.0|2009|   12|{79323W,  WHITE C...|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|100.80000000000001|2009|   12|{22041, "RECORD F...|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|              30.0|2009|   12|{21232, STRAWBERR...|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+--------------------+
only showing top 5 rows

# Supplementary

1. Use the same SparkSession from the main activity — do not create a new one.
2. Load the dataset into a DataFrame (retail_df) and display its schema to confirm correct column
names and types.
3. Data Cleaning:

- a. 3.1 Remove rows with null in "Customer ID", "Invoice", or "Price". <br>
- b. 3.2 Filter out transactions where Quantity or Price is less than or equal to zero.
4. Feature Engineering: <br>
a. 4.1 Create a new column "TotalPrice" = Quantity * Price. <br>
b.  4.2 Extract "Year" and "Month" from InvoiceDate.
5. Segmentation by Spend: <br>
a. 5.1 Group by "Customer ID" and compute: <br>
  -   i. - Total amount spent (sum(TotalPrice)). <br>
  -   ii. - Number of unique purchases (countDistinct(Invoice)). <br>
b. 5.2 Create a new column "SpendingCategory":
  - i. - "High" if total spent ≥ 5000.
  - ii. - "Medium" if total spent between 1000 and 4999.
  - iii. - "Low" if total spent < 1000.
6. Top Products per Segment: For each "SpendingCategory", find the top 3 most purchased products
(Description) based on total quantity sold.
7. Country-Wise Trends: For "High" spenders only, group by "Country" and "Month" to compute total
monthly revenue, then sort by revenue in descending order.
8. Save Results: Save both the customer segmentation table and the top products table as separate
Parquet files.

In [50]:
# import the necessary libraries
import pyspark.sql.functions as pysql
from pyspark.sql.window import Window

<font size = 5><b>2. Load the dataset into a DataFrame (retail_df) and display its schema to confirm correct column names and types.

In [20]:
retail_df = spark.read.csv("/content/drive/MyDrive/CPE032/online_retail_II.csv", header = True, inferSchema = True)
retail_df.printSchema()

root
 |-- Invoice: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- Price: double (nullable = true)
 |-- Customer ID: double (nullable = true)
 |-- Country: string (nullable = true)

<font size = 5><b>3. Data Cleaning:</font>

<b>a. 3.1 Remove rows with null in "Customer ID", "Invoice", or "Price".</b>

In [21]:
# find first if there null values of that specific columns
null_count = retail_df.filter(pysql.col("Invoice").isNull() |
                              pysql.col("Price").isNull() |
                              pysql.col("Customer ID").isNull()).count()

In [22]:
print(null_count)

243007

In [23]:
# since there are so many nulls
# we drop them

retail_df = retail_df.dropna(subset = ["Customer Id","Invoice", "Price"])
null_count = retail_df.filter(pysql.col("Invoice").isNull() |
                              pysql.col("Price").isNull() |
                              pysql.col("Customer ID").isNull()).count()

In [24]:
# base on the result  droping null values are done
print(null_count)

0

<b> b. 3.2 Filter out transactions where Quantity or Price is less than or equal to zero.

In [25]:
retail_df = retail_df.filter((pysql.col("Quantity") > 0 ) & (pysql.col("Price") > 0))

In [26]:
#lets check the result

check = retail_df.filter((pysql.col("Quantity") <= 0) | (pysql.col("Price") <= 0))
check.show()

+-------+---------+-----------+--------+-----------+-----+-----------+-------+
|Invoice|StockCode|Description|Quantity|InvoiceDate|Price|Customer ID|Country|
+-------+---------+-----------+--------+-----------+-----+-----------+-------+
+-------+---------+-----------+--------+-----------+-----+-----------+-------+

<font size = 5> <b>4. Feature Engineering:

<b> a. 4.1 Create a new column "TotalPrice" = Quantity * Price.

In [27]:
retail_df = retail_df.withColumn("TotalPrice", pysql.round(pysql.col("Quantity") * pysql.col("Price")))

In [28]:
retail_df.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|TotalPrice|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----------+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|      83.0|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|      81.0|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|      81.0|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|     101.0|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|      30.0|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----------+
only showing top 5 rows

<b>b. 4.2 Extract "Year" and "Month" from InvoiceDate.

In [29]:
retail_df = retail_df.withColumn("Year", pysql.year(pysql.col("InvoiceDate"))).withColumn("Month", pysql.month(pysql.col("InvoiceDate")))

In [30]:
retail_df.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----------+----+-----+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|TotalPrice|Year|Month|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----------+----+-----+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|      83.0|2009|   12|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|      81.0|2009|   12|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|      81.0|2009|   12|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|     101.0|2009|   12|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|      30.0|2009|   12|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----------+----+-----+
only showing top 5 rows

<font size =5><b> 5. Segmentation by Spend:

<b>a. 5.1 Group by "Customer ID" and compute: <br>
  -   i. - Total amount spent (sum(TotalPrice)). <br>
  -   ii. - Number of unique purchases (countDistinct(Invoice)). <br>

In [46]:
Segmentation_spend = retail_df.groupBy("Customer ID").agg(\
    pysql.sum("TotalPrice").alias("Total_Spent"), \
    pysql.countDistinct("Invoice").alias("No_unique_purchase"))

In [48]:
Segmentation_spend.show(5)

+-----------+-----------+------------------+
|Customer ID|Total_Spent|No_unique_purchase|
+-----------+-----------+------------------+
|    12467.0|      135.0|                 1|
|    13094.0|     2427.0|                13|
|    17884.0|     3108.0|                20|
|    17633.0|     2071.0|                 7|
|    14094.0|      339.0|                 1|
+-----------+-----------+------------------+
only showing top 5 rows

<b>b. 5.2 Create a new column "SpendingCategory":
  - i. - "High" if total spent ≥ 5000.
  - ii. - "Medium" if total spent between 1000 and 4999.
  - iii. - "Low" if total spent < 1000.

In [33]:
Segmentation_spend = Segmentation_spend.withColumn("SpendingCategory", pysql.when(pysql.col("Total_Spent") >= 5000, "High") \
                      .when((pysql.col("Total_Spent") >= 1000) & (pysql.col("Total_Spent") <= 4999),"Medium")\
                      .otherwise("Low"))

In [34]:
Segmentation_spend.show(5)

+-----------+-----------+------------------+----------------+
|Customer ID|Total_Spent|No_unique_purchase|SpendingCategory|
+-----------+-----------+------------------+----------------+
|    12467.0|      135.0|                 1|             Low|
|    13094.0|     2427.0|                13|          Medium|
|    17884.0|     3108.0|                20|          Medium|
|    17633.0|     2071.0|                 7|          Medium|
|    14094.0|      339.0|                 1|             Low|
|    15893.0|      305.0|                 1|             Low|
|    14269.0|      298.0|                 1|             Low|
|    16596.0|      585.0|                 4|             Low|
|    14285.0|     3284.0|                 8|          Medium|
|    16916.0|     1141.0|                 4|          Medium|
|    14024.0|      652.0|                 3|             Low|
|    14452.0|      679.0|                 4|             Low|
|    12737.0|     3711.0|                 2|          Medium|
|    17072.0|      285.0|                 1|             Low|
|    13607.0|     1092.0|                 2|          Medium|
|    15846.0|      110.0|                 1|             Low|
|    12671.0|     2624.0|                 1|          Medium|
|    16561.0|      513.0|                 2|             Low|
|    13956.0|     1037.0|                 5|          Medium|
|    13533.0|      269.0|                 3|             Low|
+-----------+-----------+------------------+----------------+
only showing top 20 rows

<font size= 5> <b>6. Top Products per Segment: For each "SpendingCategory", find the top 3 most purchased products (Description) based on total quantity sold.

In [35]:
window_calc = Window.partitionBy("SpendingCategory").orderBy(pysql.desc("Total_Quantity"))

top_product_segment = retail_df.join(Segmentation_spend, on = "Customer ID")

In [36]:
top_product_segment.show(5)

+-----------+-------+---------+--------------------+--------+-------------------+-----+--------------+----------+----+-----+-----------+------------------+----------------+
|Customer ID|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|       Country|TotalPrice|Year|Month|Total_Spent|No_unique_purchase|SpendingCategory|
+-----------+-------+---------+--------------------+--------+-------------------+-----+--------------+----------+----+-----+-----------+------------------+----------------+
|    17884.0| 490349|   90040C|MURANO STYLE GLAS...|       3|2009-12-04 16:23:00|  3.5|United Kingdom|      11.0|2009|   12|     3108.0|                20|          Medium|
|    17884.0| 490349|   90040A|MURANO STYLE GLAS...|       3|2009-12-04 16:23:00|  3.5|United Kingdom|      11.0|2009|   12|     3108.0|                20|          Medium|
|    17884.0| 490349|   90002E|FLOWER BURST SILV...|       3|2009-12-04 16:23:00| 3.75|United Kingdom|      11.0|2009|   12|     3108.0|                20|          Medium|
|    17884.0| 490356|    35957|SMALLFOLKART BAUB...|       1|2009-12-04 16:45:00| 0.42|United Kingdom|       0.0|2009|   12|     3108.0|                20|          Medium|
|    17884.0| 490356|    22086|PAPER CHAIN KIT 5...|      12|2009-12-04 16:45:00| 2.95|United Kingdom|      35.0|2009|   12|     3108.0|                20|          Medium|
+-----------+-------+---------+--------------------+--------+-------------------+-----+--------------+----------+----+-----+-----------+------------------+----------------+
only showing top 5 rows

In [37]:
top_product_segment = top_product_segment.groupBy("SpendingCategory","Description").agg(pysql.sum("Quantity").alias("Total_Quantity"))

In [52]:
top_product_segment.orderBy(pysql.col("Total_Quantity").desc()).show(3)

+----------------+--------------------+--------------+----+
|SpendingCategory|         Description|Total_Quantity|Rank|
+----------------+--------------------+--------------+----+
|            High|WORLD WAR 2 GLIDE...|         81112|   1|
|            High|PAPER CRAFT , LIT...|         80995|   2|
|            High|MEDIUM CERAMIC TO...|         76938|   3|
+----------------+--------------------+--------------+----+
only showing top 3 rows

In [39]:
top_product_segment = top_product_segment.withColumn("Rank", pysql.rank().over(window_calc)).filter(pysql.col("Rank")<= 3).orderBy("SpendingCategory","Rank")

In [40]:
top_product_segment.show()

+----------------+--------------------+--------------+----+
|SpendingCategory|         Description|Total_Quantity|Rank|
+----------------+--------------------+--------------+----+
|            High|WORLD WAR 2 GLIDE...|         81112|   1|
|            High|PAPER CRAFT , LIT...|         80995|   2|
|            High|MEDIUM CERAMIC TO...|         76938|   3|
|             Low|WHITE HANGING HEA...|          5620|   1|
|             Low|ASSORTED COLOUR B...|          5596|   2|
|             Low|WORLD WAR 2 GLIDE...|          5159|   3|
|          Medium|WORLD WAR 2 GLIDE...|         22898|   1|
|          Medium|WHITE HANGING HEA...|         22874|   2|
|          Medium|ASSORTED COLOUR B...|         18007|   3|
+----------------+--------------------+--------------+----+

<font size =5><b>7. Country-Wise Trends: For "High" spenders only, group by "Country" and "Month" to compute total monthly revenue, then sort by revenue in descending order.</font>

In [41]:
merge_df = retail_df.join(Segmentation_spend, on = "Customer ID")

In [42]:
Country_Trend = merge_df.filter(pysql.col("SpendingCategory") == "High")

In [43]:
Country_Trend = Country_Trend.groupBy("Country","Month").agg(pysql.sum("Total_Spent").alias("Total_monthly_revenue"))

In [53]:
Country_Trend.orderBy(pysql.col("Total_monthly_revenue").desc()).show()

+--------------+-----+---------------------+
|       Country|Month|Total_monthly_revenue|
+--------------+-----+---------------------+
|United Kingdom|   11|          1.1464331E9|
|United Kingdom|   12|        1.108085712E9|
|United Kingdom|   10|          8.8157805E8|
|United Kingdom|    9|         7.92205678E8|
|United Kingdom|    5|         6.59358328E8|
|United Kingdom|    7|         6.56035963E8|
|United Kingdom|    3|         6.53254656E8|
|          EIRE|   10|         6.38893705E8|
|United Kingdom|    8|         6.24040058E8|
|          EIRE|    9|         6.03669315E8|
|United Kingdom|    6|         6.01232119E8|
|          EIRE|   11|         5.81908734E8|
|United Kingdom|    1|         5.63338525E8|
|United Kingdom|    4|         5.55184336E8|
|United Kingdom|    2|         5.16535536E8|
|          EIRE|   12|         3.84160314E8|
|          EIRE|    5|         3.81867602E8|
|          EIRE|    3|         3.53587858E8|
|          EIRE|    6|         3.53481415E8|
|          EIRE|    7|         3.21298094E8|
+--------------+-----+---------------------+
only showing top 20 rows

<font size= 5><b>Save Results: Save both the customer segmentation table and the top products table as separate Parquet files.

In [54]:
Segmentation_spend.write.csv("/content/drive/MyDrive/CPE032/customersegmentation.csv", header=True)
top_product_segment.write.csv("/content/drive/MyDrive/CPE032/top_products.csv", header=True)

# <font size = 6>Conclusion</font>