<a href="https://colab.research.google.com/github/KurtGabrielAnduque/CPE032/blob/main/Hands_On_Activity_1_1_ANDUQUE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hands-On-Activity-1.1

## Objective(s)
The objective of this activity is to familiarize students with PySpark and Google Colab by setting up a foundational big data environment suitable for distributed data processing.

## Intended Learning Outcomes

At the end of this activity, the students should be able to:


*   Analyze how PySpark handles data processing compared to traditional tools.
*   Evaluate the benefits of distributed computing using simulated large-scale operations.
*   Create a basic data processing workflow using PySpark DataFrames on Google Colab

## Discussion

**What is PySpark?**

Apache Spark is an open-source, distributed computing system designed for fast processing of large-scale data. PySpark is the Python interface for Apache Spark. It handles large datasets efficiently with parallel computation in Python workflows, ideal for batch processing, real-time streaming, machine learning, data analytics, and SQL querying. PySpark supports industries like finance, healthcare, and e-commerce with speed and scalability.


**Spark Cluster**


A key component of working with PySpark is clusters. A Spark cluster is a group of computers (nodes) that collaboratively process large datasets using Apache Spark, with a master node coordinating multiple worker nodes. This architecture enables distributed processing. The master node manages resources and tasks, while worker nodes execute assigned compute tasks.


**Spark Session**


A SparkSession is the entry point into PySpark, enabling interaction with Apache Spark's core capabilities. It allows us to execute queries, process data, and manage resources in the Spark cluster.

## Materials and Equipment


*   Internet connection
*   Google Colab
*   Personal Computer

## Procedure

Importing Google Colab and Initializationof SparkSession

In [4]:
from pyspark.sql import SparkSession
my_spark = SparkSession.builder.appName("my_spark").getOrCreate()
print(my_spark)

<pyspark.sql.session.SparkSession object at 0x7dd9cb46e850>

### Data Loading

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
username_df = my_spark.read.csv("/content/drive/MyDrive/CPE032/username.csv", header=True, inferSchema=True) ## TODO: Change path according to your folder setup
username_df.show()

+---------------+----------+----------+---------+
|       Username|Identifier|First Name|Last Name|
+---------------+----------+----------+---------+
|  graylooker123|      1002|    Robert|  Jenkins|
|    ironlord982|      1003|     Linux| Cromwell|
|  skyrimlord023|      1004| Cassandra|    Ramos|
|wannabefortnite|      1005|    Joseph|   Pandas|
|    smithSummer|      1006|    Tensor|     Flow|
+---------------+----------+----------+---------+

Follow up question, what happens when you run this code?

**Answer: After running the code above I was able to import and read the csv into my working space using the pyspark.**

count the number of rows

In [6]:
username_df.count()

5

### Sample Filtering of dataframe

In [7]:
df_filtered = username_df.filter(username_df["Identifier"] > 1002)
# here we add a condition that we want filter the data that has a identifier value morethan 1002

In [8]:
df_filtered.show()

+---------------+----------+----------+---------+
|       Username|Identifier|First Name|Last Name|
+---------------+----------+----------+---------+
|    ironlord982|      1003|     Linux| Cromwell|
|  skyrimlord023|      1004| Cassandra|    Ramos|
|wannabefortnite|      1005|    Joseph|   Pandas|
|    smithSummer|      1006|    Tensor|     Flow|
+---------------+----------+----------+---------+

Whatâ€™s the output?

**Answer: It get the data points that has a identifier value that is greaterthan 1002 so if you are going to look from the previous output it remove the datapoint that has an identifier of 1002.**

### Aggregating and Grouping

In [9]:
from pyspark.sql.functions import avg
username_df.groupBy("Username").agg(avg("Identifier")).show()
#

+---------------+---------------+
|       Username|avg(Identifier)|
+---------------+---------------+
|wannabefortnite|         1005.0|
|  skyrimlord023|         1004.0|
|    ironlord982|         1003.0|
|  graylooker123|         1002.0|
|    smithSummer|         1006.0|
+---------------+---------------+

Summarize the procedure conducted

Answer: for the procedure part we are able to use the Pyspark module in our google collab workspace by importing its module and starting a session the naming convetion of the session depends on you. When it comes to the import thw csv file to collab you must first upload it into the google drive first before copying its file path to file park csv reader. When we want to see the output of every code we must end its line by show(). When it comes to counting the datapoints using the pyspark we just simply use the command count() to check the number of datapoints. Next is the filtering of the data we want to see, when we are filtering data we just simply use the filter command and add a condition based on our desired output. Lastly, for aggregating and grouping data, we just simply use the command groupBy followed by the column that we want to group. Next, we are going to add a agg() command, in our case we insert a avg() command inside it since we are dealing in finding the mean of identifier.

# Supplementary Activity

1. Create a dataframe
2. Use the old SparkSession instead of creating a new one
3. Load the Employee_salaries.csv
4. Filter the Employees based on their gender
5. Group the Employees based on their Gender and Average their Salaries
6. Compute annual salary for each employee.
7. Sort the result and display the highest average.

*Note that for each number in the supplementary activity (1-7), provide and explanation of the procedure, output, and/or analysis*

<font size =6>3. Load the Employee_salaries.csv</font>

For the loading of the Employee_salaries csv I first upload the csv into the google drive before copying its file path and pasting it into the my_spark csv reader.

In [15]:
salaries_df = my_spark.read.csv("/content/drive/MyDrive/CPE032/Employee_Salaries.csv", header=True, inferSchema=True) ## TODO: Change path according to your folder setup
salaries_df.show()

+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|Department|     Department_Name|            Division|Gender|Base_Salary|Overtime_Pay|Longevity_Pay|Grade|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   175873.0|         0.0|          0.0|   M2|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  145613.36|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   136970.0|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  89432.694|         0.0|       2490.0|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    78947.0|      456.68|       6257.7|   16|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    98228.0|       518.8|       998.28|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 82405.3864|       549.2|          0.0|   18|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|    93986.0|     1187.06|      2452.94|  N20|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  149464.15|         0.0|      9021.82|   18|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   82808.28|    11870.82|          0.0|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M| 65961.8438|      2092.7|          0.0|   13|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   59288.86|     1013.01|          0.0|   13|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  139407.15|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   128531.0|         0.0|          0.0|  N27|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  152632.07|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 73955.2951|     3509.43|          0.0|   16|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 110572.155|         0.0|          0.0|  N26|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
only showing top 20 rows

<font size = 6>4. Filter the Employees based on their gender</font>

I create a seperate filter for male and female gender

<font size = 5>Filtered based on male gender</font>

For the

In [16]:
male = salaries_df.filter(salaries_df['Gender'] == "M")
male.show()

+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|Department|     Department_Name|            Division|Gender|Base_Salary|Overtime_Pay|Longevity_Pay|Grade|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   175873.0|         0.0|          0.0|   M2|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  145613.36|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|    93986.0|     1187.06|      2452.94|  N20|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M| 65961.8438|      2092.7|          0.0|   13|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   59288.86|     1013.01|          0.0|   13|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  139407.15|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  152632.07|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    61240.0|     5294.68|       995.18|   10|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    61240.0|       92.35|       4827.4|   10|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    86103.0|    23917.44|      3665.64|  N18|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    61240.0|     9580.78|        459.3|   10|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    86103.0|     3165.46|      3665.65|  N18|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M| 75086.4937|     6857.37|          0.0|   15|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M| 81931.2453|    24672.86|          0.0|  N18|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    75621.0|     2065.26|      3471.32|   15|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|  75621.002|     4453.91|      3572.85|   15|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Deliv...|     M|    75621.0|    10989.68|      3436.83|   15|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
only showing top 20 rows

<font size = 5>Filtered based on female gender</font>

In [17]:
female = salaries_df.filter(salaries_df['Gender'] == "F")
female.show()

+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|Department|     Department_Name|            Division|Gender|Base_Salary|Overtime_Pay|Longevity_Pay|Grade|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   136970.0|         0.0|          0.0|   M3|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  89432.694|         0.0|       2490.0|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    78947.0|      456.68|       6257.7|   16|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    98228.0|       518.8|       998.28|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 82405.3864|       549.2|          0.0|   18|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  149464.15|         0.0|      9021.82|   18|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   82808.28|    11870.82|          0.0|   21|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   128531.0|         0.0|          0.0|  N27|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 73955.2951|     3509.43|          0.0|   16|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 110572.155|         0.0|          0.0|  N26|
|       ABS|Alcohol Beverage ...| ABS 85 Beer Loading|     F|    76668.0|     3226.55|          0.0|   12|
|       ABS|Alcohol Beverage ...|ABS 85 Beer Wareh...|     F|  56922.265|     6156.95|          0.0|   13|
|       ABS|Alcohol Beverage ...|ABS 85 Licensure,...|     F|  166140.03|         0.0|          0.0|   M2|
|       ABS|Alcohol Beverage ...|ABS 85 Licensure,...|     F| 99335.0745|     1540.34|          0.0|   22|
|       ABS|Alcohol Beverage ...|ABS 85 Licensure,...|     F|  94334.247|         0.0|          0.0|  N25|
|       ABS|Alcohol Beverage ...|ABS 85 Licensure,...|     F|    98349.0|         0.0|          0.0|   22|
|       ABS|Alcohol Beverage ...|ABS 85 Licensure,...|     F|    64633.0|         0.0|          0.0|   16|
|       ABS|Alcohol Beverage ...|ABS 85 Licensure,...|     F|    54583.0|         0.0|          0.0|   18|
|       ABS|Alcohol Beverage ...| ABS 85 Burtonsville|     F| 47447.9101|     1302.22|          0.0|   12|
|       ABS|Alcohol Beverage ...| ABS 85 Burtonsville|     F| 58239.9985|      536.86|          0.0|   14|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+
only showing top 20 rows

<font size = 6> 5. Group the Employees based on their Gender and Average their Salaries</font>

In [21]:
salaries_df.groupBy('Gender').agg(avg('Base_Salary')).show()

+------+-----------------+
|Gender| avg(Base_Salary)|
+------+-----------------+
|     F|87497.50279041701|
|     M|92382.92975236966|
+------+-----------------+

<font size = 6>6. Compute annual salary for each employee.</font>

In [54]:
annual_salaries = salaries_df.withColumn("annual_salary",salaries_df.Base_Salary*12)

In [60]:
annual_salaries.show()

+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+------------------+
|Department|     Department_Name|            Division|Gender|Base_Salary|Overtime_Pay|Longevity_Pay|Grade|     annual_salary|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+------------------+
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   175873.0|         0.0|          0.0|   M2|         2110476.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  145613.36|         0.0|          0.0|   M3|1747360.3199999998|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   136970.0|         0.0|          0.0|   M3|         1643640.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  89432.694|         0.0|       2490.0|   21|       1073192.328|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    78947.0|      456.68|       6257.7|   16|          947364.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|    98228.0|       518.8|       998.28|   21|         1178736.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 82405.3864|       549.2|          0.0|   18|       988864.6368|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|    93986.0|     1187.06|      2452.94|  N20|         1127832.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|  149464.15|         0.0|      9021.82|   18|1793569.7999999998|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|         1409088.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   82808.28|    11870.82|          0.0|   21|         993699.36|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M| 65961.8438|      2092.7|          0.0|   13|       791542.1256|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   59288.86|     1013.01|          0.0|   13| 711466.3200000001|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  139407.15|         0.0|          0.0|   M3|1672885.7999999998|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F|   128531.0|         0.0|          0.0|  N27|         1542372.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|  152632.07|         0.0|          0.0|   M3|        1831584.84|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 73955.2951|     3509.43|          0.0|   16| 887463.5412000001|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|         1409088.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     M|   117424.0|         0.0|          0.0|  N25|         1409088.0|
|       ABS|Alcohol Beverage ...|ABS 85 Administra...|     F| 110572.155|         0.0|          0.0|  N26|1326865.8599999999|
+----------+--------------------+--------------------+------+-----------+------------+-------------+-----+------------------+
only showing top 20 rows

<font size = 6>7. Sort the result and display the highest average.</font>

In [58]:
sorted = annual_salaries.orderBy("annual_salary", ascending = False)

In [73]:
department = annual_salaries.groupBy('Department_Name').agg(avg('annual_salary'))
department.orderBy('avg(annual_salary)', ascending = False).show()

+--------------------+------------------+
|     Department_Name|avg(annual_salary)|
+--------------------+------------------+
|Office of Intergo...|         1982361.0|
|Office of Zoning ...|      1726805.8887|
|   Ethics Commission|         1696661.1|
|Non-Departmental ...|     1690204.61646|
|Office of Labor R...|        1661731.53|
|Office of Legisla...|     1603391.79224|
|Department of Tec...| 1589294.535864151|
|County Attorney's...| 1556170.444323077|
|Office of Managem...|1537977.5485826086|
|Offices of the Co...|1535036.8147250004|
|Office of the Ins...|1519654.7722800002|
|Office of Racial ...|       1465221.278|
|Department of Fin...|1381558.0958380168|
|Office of Food Sy...|         1353332.0|
|Office of Emergen...|      1333383.7828|
|Office of Human R...|1317795.4605705887|
|Office of Human R...|1298186.4494181818|
|Office of Consume...|1281641.4349894735|
|      County Council| 1269054.781117557|
|Department of Env...|1255733.6018789187|
+--------------------+------------------+
only showing top 20 rows

# HOA Conclusion

After completing the Hands